.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
  width: 300px;
  font-family: sans-serif;
}

label {
  font-size: 12px;
}

.add {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.newContact {
  text-align: center;
  font-family: sans-serif;
}
